.active {
  color: #fff;
  font-weight: bold;
}

nav a {
  transition: color 0.2s ease-in;
}

nav a:hover {
  color: limegreen;
}

@font-face {
  font-family: "poppins-bold";
  src: url("/fonts/Poppins-Bold.ttf") format("ttf");
}
